---
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import protestImage from "/public/wp-content/uploads/2016/03/protest-footer.png";
---

<Layout title="About" description="The Hoar was a satire rag.">
  <div class="my-12 prose dark:prose-invert">
    <h2 class="text-4xl font-normal tracking-tight">
      The Hoar was a satire rag,
      <br />
      vigorously squeezed from
      <br />
      the grey vistas of Warwick Uni.
    </h2>
    <p>
      People tried to explain what we did on{" "}
      <a
        class="line-through"
        title="Some meat-hook abortion of a Trump-tower frat-kid killed the Hoar’s Wikipedia page, presumably because the local schools were out for summer."
      >
        Wikipedia
      </a>
      &nbsp;and in{" "}
      <a
        href="http://thetab.com/uk/warwick/2016/02/22/spoke-hoar-satire-free-speech-next-target-13136"
      >
        <em>The Tab</em>
      </a>
      .<br />
      We got{" "}
      <a
        href="http://thetab.com/uk/warwick/2016/06/02/warwick-bnoc-nomination-2016-theodora-hoar-14881"
      >
        nominated
      </a>{" "}
      for BNOC of the year too.
    </p>
    <p>
      After a few seconds of thought we closed the <em>Hoar</em> to focus on our
      drinking.
    </p>
    <p>
      <a
        href="https://thehoar.org/wp-content/uploads/2017/02/will-and-will-300x158.jpg"
      >
        Will &amp; Will
      </a>
    </p>
    <Picture
      src={protestImage}
      width={608}
      height={166}
      densities={[1, 2]}
      alt="A line drawing of a 'skyline' of protest signs and placards hoisted above unseen heads."
      class="border-none"
    />
  </div>
</Layout>
