---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Write for us" description="Registration is closed" wide>
  <div class="prose dark:prose-invert">
    <h2 class="text-5xl mt-12 font-light tracking-tight">Write for us</h2>

    <p class="my-12">
      Neither you nor anyone else can write for us any more. We’re closed.
    </p>
  </div>
</Layout>
