<footer class="flex items-center justify-center w-full h-24 border-t dark:border-gray-600">
  <div class="w-full max-w-screen-sm p-4 text-sm text-gray-700 dark:text-gray-200">
    <div class="flex gap-3">
      <a href="/about" class="underline hover:no-underline">About</a>
      <a href="/book" class="underline hover:no-underline">Book</a>
      <p>© The Hoar 2016. Freshly squeezed from the University of Warwick.</p>
    </div>
  </div>
</footer>
