---
import { Image } from "astro:assets";
import bookImage from "./book.png";
---

<div class="flex items-center justify-between mb-6">
  <a href="/">
    <h1 class="text-2xl font-bold tracking-tight leading-snug">
      The Hoar<span class="w-px inline-block"></span><span class="font-thin"
        >chive</span
      >
    </h1>
    <p class="sm:text-xl font-thin leading-snug">
      Satire, <span class="line-through">freshly</span> squeezed from Warwick Uni
    </p>
  </a>

  <button
    id="dark-mode-button"
    type="button"
    class="flex py-1 pl-2"
    aria-label="Toggle dark mode"
  >
    <Image
      src={bookImage}
      width={40}
      height={50}
      densities={[1, 2]}
      alt="The Hoar book, pictured on a white studio background."
    />
  </button>
</div>

<script>
  const toggleDarkMode = () => {
    const isDarkMode = localStorage.getItem("darkMode") === "true";
    const newStatus = !isDarkMode;

    localStorage.setItem("darkMode", String(newStatus));

    document.documentElement.classList.toggle("dark", newStatus);
  };

  const initialiseDarkMode = () => {
    const isDarkMode = localStorage.getItem("darkMode") === "true";

    if (isDarkMode) {
      document.documentElement.classList.add("dark");
    }
  };

  initialiseDarkMode();

  const darkModeButton = document.getElementById("dark-mode-button");

  darkModeButton?.addEventListener("click", () => {
    toggleDarkMode();
  });
</script>
