---
import { Image } from "astro:assets";
import bookImage from "./book.png";
---

<div class="flex items-center justify-between mb-6">
  <a href="/">
    <h1 class="text-2xl font-bold tracking-tight leading-snug">
      The Hoar<span class="w-px inline-block"></span><span class="font-thin"
        >chive</span
      >
    </h1>
    <p class="sm:text-xl font-thin leading-snug">
      Satire, <span class="line-through">freshly</span> squeezed from Warwick Uni
    </p>
  </a>

  <span class="flex py-1 pl-2">
    <Image
      src={bookImage}
      width={40}
      height={50}
      densities={[1, 2]}
      alt="The Hoar book, pictured on a white studio background."
    />
  </span>
</div>
